on:
  pull_request:

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - run: gh pr comment ${{ github.event.pull_request.number }} --body "Hi from GitHub CLI" --repo ${{ github.repository }}
        env:
          GH_TOKEN: ${{ github.token }}
